#head{background-color:white;color:blue;font-size:25px;text-align:center;}
body{
  background-image: url('circle-gf6d93d1d9_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.subject{color:red;}